<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <description></description>
    <display-name>ServletAccesIndexJsp</display-name>
    <servlet-name>ServletAccesIndexJsp</servlet-name>
    <servlet-class>fr.labo.servlets.ServletAccesIndexJsp</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccesIndexJsp</servlet-name>
    <url-pattern>/ServletAccesIndexJsp</url-pattern>
  </servlet-mapping>
  <display-name>ProjetEnchere</display-name>
  <display-name>ProjetEnchere</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletEncherir</display-name>
    <servlet-name>ServletEncherir</servlet-name>
    <servlet-class>fr.labo.servlets.ServletEncherir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEncherir</servlet-name>
    <url-pattern>/ServletEncherir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAccesAdmin</display-name>
    <servlet-name>ServletAccesAdmin</servlet-name>
    <servlet-class>fr.labo.servlets.ServletAccesAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccesAdmin</servlet-name>
    <url-pattern>/ServletAccesAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRechercherVentes</display-name>
    <servlet-name>ServletRechercherVentes</servlet-name>
    <servlet-class>fr.labo.servlets.ServletRechercherVentes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRechercherVentes</servlet-name>
    <url-pattern>/ServletRechercherVentes</url-pattern>
  </servlet-mapping>
</web-app>